<a href="https://colab.research.google.com/github/plee0617/IS-170-Binder/blob/Pandas-%26-Feature-Engineering/Lee_IS170_HW_M%26W.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Pang Yia Lee
# JUGRAJ singh Dulay

#This program displays gross pay
#Get the number of hours worked
hours = int(input('Enter the hours worked this week: '))
#Get the hourly pay rate.
pay_rate = float(input('Enter the hourly pay rate: '))
#Calculate the gross pay
gross_pay = hours * pay_rate
#Display the gross pay
print(f'Gross pay: ${gross_pay:,.2f}')
# Get the overtime hours worked
ohours = int(input('Enter the overtime hours worked this week: '))
# Get the hourly overtime
opay_rate = float(input('Enter the hourly overtime pay rate: '))
# calculate overtime
overtime_pay = ohours * opay_rate
# calculate combined pay
combined_pay = overtime_pay + gross_pay
# print
print(f'Overtime pay: ${overtime_pay:,.2f}')
print(('Stephan Choi'), (','), ('your total gross pay is: '), f'${combined_pay:,.2f}')

Enter the hours worked this week: 40
Enter the hourly pay rate: 16
Gross pay: $640.00
Enter the overtime hours worked this week: 20
Enter the hourly overtime pay rate: 24
Overtime pay: $480.00
Stephan Choi , your total gross pay is:  $1,120.00

In [ ]:
a=10
b=5
operation =(‘unknown operation’)
result=(‘???’)
print (‘Which operation should I perform + or - ?’)
operation=input()
if operation==(‘+’):
    result=a+b                               # Hit the Tab key to indent
if operation==(‘-‘):
    result=a-b                                # Hit the Tab key to indent
print ((a), (operation), (b) ,(‘=’),(result))

SyntaxError: ignored

In [ ]:
# enter for last name
name = input ('Please enter your last name:  ')
# enter number
print ('please enter an integer')
a=eval(input())
print ('please enter another integer')
b=eval(input())
print ('Which operation should I perform +, -, *, /, or **?')
operation=input()
if operation==('+'):
    result=a+b                               # Hit the Tab key to indent
if operation==('-'):
    result=a-b
if operation==('*'):
    result=a*b
if operation==('/'):
    result=a/b
if operation==('**'):
    result=a**b                               # Hit the Tab key to indent
print ((a), (operation), (b) ,('='),(result))

Please enter your last name:  Choi
please enter an integer
73
please enter another integer
56
Which operation should I perform +, -, *, /, or **?
+
73 + 56 = 129

In [ ]:

df.head() z

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv') 
# what is this df object? 
type(df) 
# A dataframe object from the pandas library

pandas.core.frame.DataFrame

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv') 
# shape is an attribute, not a function 
# this will error 
df.shape()

TypeError: ignored

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv') 
# get num rows and columns 
df.shape

(1704, 6)

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv') 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv') 
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv') 
# what is the type of the column names? 
type(df.columns)

pandas.core.indexes.base.Index

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv') 
# get the type of each column 
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv') 
# the type of the returned results 
type(df.dtypes) 
# Note: a 'series' is essentially a 'column' or 'vector' of data

pandas.core.series.Series

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv') 
# save the 'country' column into a variable 
country_df = df['country'] 
# a Series is a column of data 
print(type(country_df)) 
# Look at the first 5 items of the series 
country_df.head()

<class 'pandas.core.series.Series'>

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv') 
# Can also use dot notation 
# And "Chain" together commands 
df.country.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv') 
# Dot notation will return the attribute 
print(df.size) 
print(df.shape)

10224
(1704, 6)

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv') 
# subset multiple columns 
df[['country', 'continent', 'year']].head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv')
# first row by label 
df.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv')
# 100th row by label 
df.loc[99]

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv')
# first, 100th, and 1000th row by label 
df.loc[[0, 99, 999]]

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv')
# first row by index 
df.iloc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv')
# 100th row by index 
df.iloc[99]

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv')
# first, 100th, and 1000th row by index 
df.iloc[[0, 99, 999]]

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv')
# first, 100th, and 1000th row by label 
# subset multiple columns 
df.loc[[0, 99, 999], ['country', 'continent', 'year']]

         country continent  year
0    Afghanistan      Asia  1952
99    Bangladesh      Asia  1967
999     Mongolia      Asia  1967

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv')
df.head(n=10)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv')
df.groupby('year')['lifeExp'].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64