<a href="https://colab.research.google.com/github/plee0617/IS-170-Binder/blob/Pandas-%26-Feature-Engineering/Lee_IS170_Lab_FE_MW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Pang Lee
# Emily Morales
import pandas as pd
# deal with missing function or null
df = pd.read_csv('healthcare_data-2.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    object
dtypes: float64(2), int64(6), object(1)
memory usage: 54.1+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()

In [ ]:
label = le.fit_transform(df['Outcome'])

In [ ]:
label

array([3, 1, 2, 1, 3, 0, 0, 0, 3, 0, 0, 3, 1, 1, 2, 0, 2, 0, 0, 0, 3, 1,
       3, 0, 2, 2, 0, 3, 3, 0, 3, 2, 3, 1, 0, 3, 3, 0, 1, 2, 1, 3, 2, 2,
       2, 2, 3, 1, 3, 1, 2, 2, 2, 0, 0, 1, 1, 0, 0, 0, 1, 1, 2, 1, 3, 3,
       2, 1, 3, 0, 1, 0, 3, 0, 0, 2, 1, 3, 0, 0, 0, 1, 1, 2, 1, 3, 1, 3,
       2, 1, 1, 1, 0, 0, 3, 0, 1, 3, 2, 3, 1, 1, 3, 3, 0, 1, 2, 3, 1, 2,
       0, 2, 0, 3, 2, 3, 2, 3, 3, 2, 2, 3, 2, 2, 1, 3, 0, 3, 0, 2, 1, 2,
       2, 3, 2, 0, 2, 3, 2, 3, 2, 3, 2, 0, 0, 0, 0, 3, 1, 0, 0, 1, 2, 3,
       1, 3, 3, 2, 2, 0, 1, 0, 1, 1, 2, 1, 2, 2, 3, 1, 1, 2, 1, 2, 3, 3,
       1, 0, 3, 3, 3, 3, 2, 1, 3, 2, 3, 1, 2, 3, 1, 3, 0, 1, 1, 1, 0, 0,
       3, 3, 3, 0, 0, 1, 2, 1, 3, 1, 2, 3, 1, 0, 3, 2, 3, 0, 1, 0, 0, 3,
       1, 0, 0, 1, 2, 3, 1, 2, 0, 1, 2, 2, 3, 1, 0, 0, 0, 1, 2, 3, 3, 0,
       3, 3, 0, 0, 0, 2, 0, 3, 2, 0, 3, 3, 3, 1, 2, 0, 0, 2, 2, 3, 3, 2,
       3, 1, 3, 1, 1, 3, 2, 0, 2, 2, 2, 1, 3, 3, 2, 3, 1, 3, 3, 3, 3, 0,
       1, 2, 1, 0, 1, 2, 0, 0, 1, 0, 3, 2, 1, 1, 2, 3, 1, 1, 1, 2, 2, 3,
       2, 2, 1, 0, 1, 2, 2, 3, 2, 3, 0, 1, 0, 3, 0, 3, 3, 2, 2, 3, 2, 1,
       3, 3, 1, 0, 3, 1, 1, 3, 1, 1, 0, 3, 2, 0, 0, 2, 1, 0, 0, 3, 3, 3,
       1, 1, 2, 0, 2, 0, 0, 1, 2, 2, 3, 1, 1, 0, 3, 3, 2, 3, 0, 2, 2, 3,
       1, 2, 3, 1, 0, 1, 2, 1, 1, 3, 2, 2, 2, 2, 0, 0, 1, 0, 0, 0, 2, 0,
       3, 2, 0, 0, 2, 0, 1, 2, 1, 3, 0, 3, 3, 0, 2, 0, 3, 2, 0, 2, 0, 0,
       0, 1, 2, 2, 2, 3, 0, 0, 0, 2, 0, 3, 1, 2, 2, 0, 0, 0, 3, 1, 2, 3,
       0, 2, 2, 2, 1, 0, 1, 2, 0, 3, 0, 3, 1, 3, 1, 3, 3, 2, 1, 1, 2, 1,
       3, 2, 0, 0, 2, 1, 1, 2, 2, 1, 3, 3, 0, 0, 3, 3, 3, 2, 2, 2, 3, 0,
       1, 0, 1, 3, 2, 3, 3, 1, 0, 3, 1, 2, 1, 3, 2, 2, 3, 2, 1, 3, 3, 3,
       2, 1, 0, 3, 1, 0, 2, 1, 1, 0, 0, 2, 2, 3, 1, 0, 2, 3, 3, 2, 2, 0,
       2, 2, 2, 3, 0, 1, 0, 3, 3, 1, 1, 1, 1, 1, 3, 0, 1, 0, 2, 3, 1, 1,
       3, 1, 2, 2, 3, 2, 1, 1, 2, 1, 0, 0, 0, 1, 1, 1, 3, 2, 3, 2, 0, 1,
       3, 0, 2, 3, 0, 0, 1, 2, 1, 3, 3, 3, 1, 2, 3, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 3, 3, 2, 2, 2, 3, 2, 0, 1, 2, 2, 1, 1, 2, 2, 3, 0, 2, 3, 2,
       1, 3, 0, 1, 2, 3, 0, 3, 3, 0, 2, 1, 1, 3, 0, 3, 2, 3, 0, 3, 1, 3,
       2, 0, 2, 2, 1, 1, 3, 2, 1, 0, 0, 1, 3, 2, 2, 2, 0, 0, 3, 2, 0, 2,
       0, 0, 2, 1, 1, 2, 2, 1, 2, 2, 1, 2, 1, 1, 2, 1, 2, 1, 1, 0, 2, 0,
       3, 3, 0, 2, 0, 3, 1, 1, 3, 2, 0, 1, 3, 2, 3, 1, 2, 2, 3, 0, 3, 3,
       1, 2, 0, 1, 2, 3, 1, 3, 1, 0, 3, 0, 1, 2, 3, 0, 2, 3, 0, 1, 1, 0,
       2, 1, 1, 0, 2, 2, 2, 0, 1, 1, 0, 1, 2, 3, 3, 3, 0, 1, 3, 0, 2, 0,
       3, 3, 2, 0, 2, 1, 1, 1, 2, 1, 0, 1, 3, 3, 2, 1, 2, 3, 0, 1])

In [ ]:
df.drop("Outcome", axis=1, inplace=True)

In [ ]:
df["Outcome"] = label

In [ ]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,3
1,1,85,66,29,0,26.6,0.351,31,1
2,8,183,64,0,0,23.3,0.672,32,2
3,1,89,66,23,94,28.1,0.167,21,1
4,0,137,40,35,168,43.1,2.288,33,3
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,1
764,2,122,70,27,0,36.8,0.340,27,2
765,5,121,72,23,112,26.2,0.245,30,3
766,1,126,60,0,0,30.1,0.349,47,0
767,1,93,70,31,0,30.4,0.315,23,1

In [ ]:
from sklearn import preprocessing

In [ ]:
df_scaled = preprocessing.scale(df)

In [ ]:

df_scaled=pd.DataFrame(df_scaled,columns=df.columns)

In [ ]:
df_scaled['Outcome'] = df['Outcome']

In [ ]:
df=df_scaled

In [ ]:
import pandas as pd
df = pd.read_csv('healthcare_data-2.csv')
old_cols=df.columns.values
new_cols=['Pregnancies', 'BloodPressure', 'Glucose', 'SkinThickness', 'BMI', 'Insulin', 'DiabetesPedigreeFunction', 'Age', 'Outcome']
df = df.reindex(columns=new_cols)

In [ ]:
df

,Pregnancies,BloodPressure,Glucose,SkinThickness,BMI,Insulin,DiabetesPedigreeFunction,Age,Outcome
0,6,72,148,35,33.6,0,0.627,50,severe
1,1,66,85,29,26.6,0,0.351,31,min
2,8,64,183,0,23.3,0,0.672,32,moderate
3,1,66,89,23,28.1,94,0.167,21,min
4,0,40,137,35,43.1,168,2.288,33,severe
...,...,...,...,...,...,...,...,...,...
763,10,76,101,48,32.9,180,0.171,63,min
764,2,70,122,27,36.8,0,0.340,27,moderate
765,5,72,121,23,26.2,112,0.245,30,severe
766,1,60,126,0,30.1,0,0.349,47,mild
767,1,70,93,31,30.4,0,0.315,23,min

In [ ]:
print(df.rename(columns={'Glucose': 'Sugar Level', 'BMI': 'Weight'}))

     Pregnancies  BloodPressure  Sugar Level  SkinThickness  Weight  Insulin  \
0              6             72          148             35    33.6        0
1              1             66           85             29    26.6        0
2              8             64          183              0    23.3        0
3              1             66           89             23    28.1       94
4              0             40          137             35    43.1      168
..           ...            ...          ...            ...     ...      ...
763           10             76          101             48    32.9      180
764            2             70          122             27    36.8        0
765            5             72          121             23    26.2      112
766            1             60          126              0    30.1        0
767            1             70           93             31    30.4        0

     DiabetesPedigreeFunction  Age   Outcome
0                       0.627   50    severe
1                       0.351   31       min
2                       0.672   32  moderate
3                       0.167   21       min
4                       2.288   33    severe
..                        ...  ...       ...
763                     0.171   63       min
764                     0.340   27  moderate
765                     0.245   30    severe
766                     0.349   47      mild
767                     0.315   23       min

[768 rows x 9 columns]