<a href="https://colab.research.google.com/github/plee0617/IS-170-Binder/blob/Pandas-%26-Feature-Engineering/Lee_IS170_Lab_FE_MW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Pang Lee
# Emily Morales
import pandas as pd
# deal with missing function or null
df = pd.read_csv('gapminder.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder ()

In [ ]:
label = le.fit_transform(df['country'])

In [ ]:
label = le.fit_transform(df['continent'])

In [ ]:
label

array([2, 2, 2, ..., 0, 0, 0])

In [ ]:
df.drop("country", axis=1, inplace=True)

In [ ]:
df.drop("continent", axis=1, inplace=True)

In [ ]:
df["country"] = label

In [ ]:
df["continent"] = label

In [ ]:
df

      year  lifeExp       pop   gdpPercap  country  continent
0     1952   28.801   8425333  779.445314        2          2
1     1957   30.332   9240934  820.853030        2          2
2     1962   31.997  10267083  853.100710        2          2
3     1967   34.020  11537966  836.197138        2          2
4     1972   36.088  13079460  739.981106        2          2
...    ...      ...       ...         ...      ...        ...
1699  1987   62.351   9216418  706.157306        0          0
1700  1992   60.377  10704340  693.420786        0          0
1701  1997   46.809  11404948  792.449960        0          0
1702  2002   39.989  11926563  672.038623        0          0
1703  2007   43.487  12311143  469.709298        0          0

[1704 rows x 6 columns]

In [ ]:
from sklearn import preprocessing

In [ ]:
df_scaled = preprocessing.scale(df)

In [ ]:

df_scaled=pd.DataFrame(df_scaled,columns=df.columns)

In [ ]:
df_scaled['country'] = df['country']

In [ ]:
df_scaled['continent'] = df['continent']

In [ ]:
df=df_scaled

In [ ]:
import pandas as pd
df = pd.read_csv('gapminder.csv')
old_cols=df.columns.values
new_cols=['year', 'pop', 'lifeExp', 'gdpPercap', 'continent', 'country']
df = df.reindex(columns=new_cols)

In [ ]:
df

      year       pop  lifeExp   gdpPercap continent      country
0     1952   8425333   28.801  779.445314      Asia  Afghanistan
1     1957   9240934   30.332  820.853030      Asia  Afghanistan
2     1962  10267083   31.997  853.100710      Asia  Afghanistan
3     1967  11537966   34.020  836.197138      Asia  Afghanistan
4     1972  13079460   36.088  739.981106      Asia  Afghanistan
...    ...       ...      ...         ...       ...          ...
1699  1987   9216418   62.351  706.157306    Africa     Zimbabwe
1700  1992  10704340   60.377  693.420786    Africa     Zimbabwe
1701  1997  11404948   46.809  792.449960    Africa     Zimbabwe
1702  2002  11926563   39.989  672.038623    Africa     Zimbabwe
1703  2007  12311143   43.487  469.709298    Africa     Zimbabwe

[1704 rows x 6 columns]

In [ ]:
print(df.rename(columns={'pop': 'population', 'gdpPercap': 'GDP'}))

      year  population  lifeExp         GDP continent      country
0     1952     8425333   28.801  779.445314      Asia  Afghanistan
1     1957     9240934   30.332  820.853030      Asia  Afghanistan
2     1962    10267083   31.997  853.100710      Asia  Afghanistan
3     1967    11537966   34.020  836.197138      Asia  Afghanistan
4     1972    13079460   36.088  739.981106      Asia  Afghanistan
...    ...         ...      ...         ...       ...          ...
1699  1987     9216418   62.351  706.157306    Africa     Zimbabwe
1700  1992    10704340   60.377  693.420786    Africa     Zimbabwe
1701  1997    11404948   46.809  792.449960    Africa     Zimbabwe
1702  2002    11926563   39.989  672.038623    Africa     Zimbabwe
1703  2007    12311143   43.487  469.709298    Africa     Zimbabwe

[1704 rows x 6 columns]