<a href="https://colab.research.google.com/github/plee0617/IS-170-Binder/blob/Pandas-%26-Feature-Engineering/Lee_IS170_MW_HW2_FE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Pang Lee
import pandas as pd
# deal with missing function or null
df = pd.read_csv('Lottery_Mega_Millions_Winning_Numbers__Beginning_2002.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Draw Date        2160 non-null   object
 1   Winning Numbers  2160 non-null   object
 2   Mega Ball        2160 non-null   int64
 3   Multiplier       1257 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 67.6+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()

In [ ]:
label = le.fit_transform(df['Draw Date'])

In [ ]:
label = le.fit_transform(df['Winning Numbers'])

In [ ]:
label

array([1885, 1612, 1226, ...,  640,  890,   31])

In [ ]:
df.drop("Draw Date", axis=1, inplace=True)

In [ ]:
df.drop("Winning Numbers", axis=1, inplace=True)

In [ ]:
df["Draw Date"] = label

In [ ]:
df["Winning Numbers"] = label

In [ ]:
df

      Mega Ball  Multiplier  Draw Date  Winning Numbers
0            16         2.0       1885             1885
1            19         3.0       1612             1612
2            25         2.0       1226             1226
3            17         3.0       1617             1617
4            13         2.0        685              685
...         ...         ...        ...              ...
2155         17         4.0       1872             1872
2156         20         4.0       2121             2121
2157         22         4.0        640              640
2158         13         4.0        890              890
2159         17         2.0         31               31

[2160 rows x 4 columns]

In [ ]:
from sklearn import preprocessing

In [ ]:
df_scaled = preprocessing.scale(df)

In [ ]:
df_scaled=pd.DataFrame(df_scaled,columns=df.columns)

In [ ]:
df_scaled['Draw Date'] = df['Draw Date']

In [ ]:
df_scaled['Winning Numbers'] = df['Winning Numbers']

In [ ]:
df=df_scaled

In [ ]:
import pandas as pd
df = pd.read_csv('Lottery_Mega_Millions_Winning_Numbers__Beginning_2002.csv')
old_cols=df.columns.values
new_cols=['Multiplier', 'Mega Ball', 'Winning Numbers', 'Draw Date']
df = df.reindex(columns=new_cols)

In [ ]:
df

      Multiplier  Mega Ball Winning Numbers   Draw Date
0            2.0         16  20 36 37 48 67  09/25/2020
1            3.0         19  14 39 43 44 67  09/29/2020
2            2.0         25  09 38 47 49 68  10/02/2020
3            3.0         17  15 16 18 39 59  10/06/2020
4            2.0         13  05 11 25 27 64  10/09/2020
...          ...        ...             ...         ...
2155         4.0         17  20 29 31 64 66  01/20/2023
2156         4.0         20  33 41 47 50 62  01/24/2023
2157         4.0         22  04 43 46 47 61  01/27/2023
2158         4.0         13  07 09 18 29 39  01/31/2023
2159         2.0         17  01 04 50 54 59  02/03/2023

[2160 rows x 4 columns]

In [ ]:
print(df.rename(columns={'Winning Numbers': 'Lucky Numbers', 'Multiplier': 'Duplicater'}))

      Duplicater  Mega Ball   Lucky Numbers   Draw Date
0            2.0         16  20 36 37 48 67  09/25/2020
1            3.0         19  14 39 43 44 67  09/29/2020
2            2.0         25  09 38 47 49 68  10/02/2020
3            3.0         17  15 16 18 39 59  10/06/2020
4            2.0         13  05 11 25 27 64  10/09/2020
...          ...        ...             ...         ...
2155         4.0         17  20 29 31 64 66  01/20/2023
2156         4.0         20  33 41 47 50 62  01/24/2023
2157         4.0         22  04 43 46 47 61  01/27/2023
2158         4.0         13  07 09 18 29 39  01/31/2023
2159         2.0         17  01 04 50 54 59  02/03/2023

[2160 rows x 4 columns]